<header class="header">
    <div class="header-container">
        <a href="/" class="logo">
            <img src="./logotyp2.png" alt="Logotyp">
        </a>
        <nav class="nav">
            <ul class="nav-list">
                <li> <NavLink href="/" Match="NavLinkMatch.All">Hem</NavLink></li>
                <li> <NavLink href="konvertering">Konvertering</NavLink></li>
                <li> <NavLink href="json">JSON</NavLink></li>
            </ul>
        </nav>
    </div>
</header>