@page "/"

<PageTitle>Hem</PageTitle>
<div class="content-container">
    <h1>Hem</h1>

    <p>Välkommen till lösningen av moment 1.2 i kursen DT191G Webbutveckling med .NET av Johan Magnusson (joma2304).</p>
</div>